*.pyc
*/__pycache__
*/__cache__
.pytest_cache/

*.pid
instance/
dist/
build/
*.egg-info/

checkfiles/*
!checkfiles/.gitkeep
!checkfiles/expected/.gitkeep
web/static/imgs/*.png
docs/_build/*
docs/_static/*
docs/_templates/*
pyvcloud.log
