*.pyc
*/__pycache__
*/__cache__
scoring/checkfiles/*
!scoring/checkfiles/.gitkeep
!scoring/checkfiles/expected/.gitkeep
scoring/web/static/imgs/*.png
docs/_build/*
docs/_static/*
docs/_templates/*
scoring/ialab.creds
scoring/pyvcloud.log
