{% extends 'base.html' %}
{% block pcr %}active{% endblock %}
{% block head %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block content %}
<script>
    function clickDelete(id) {
        idInput = document.getElementById('reqId');
        idInput.value = id;
        $('#confirmModal').modal('show');
    }
</script>

<table class="table">
    <thead>
        <th>Submission Time</th>
        <th>Completion Time</th>
        <th>Domain/Service</th>
        <th>Status</th>
        <th>
            <a href="{{ url_for('new_pcr') }}" class="btn btn-success">
                New Request
            </a>
        </th>
    </thead>
    <tbody>
        {% for pcr in pcrs %}
        <tr>
            <td>{{ pcr.submitted }}</td>
            <td>
            {% if pcr.completed is none %}
                -
            {% else %}
                {{ pcr.completed }}
            {% endif %}
            </td>
            <td>
            {% if pcr.check_id is none %}
                {{ domains[pcr.domain_id] }}
            {% else %}
                {% set c = checks[pcr.check_id] %}
                {{ c.name }}
            {% endif %}
            </td>
            {% if pcr.status == 0 %}
            <td class="text-success"><strong>Complete</strong></td>
            {% elif pcr.status == 1 %}
            <td class="text-primary"><strong>Pending</strong></td>
            {% elif pcr.status == 2 %}
            <td class="text-warning"><strong>Awaiting Approval</strong></td>
            {% elif pcr.status == 3 %}
            <td class="text-danger"><strong>Denied</strong></td>
            {% endif %}
            <td>
                <a href="{{ url_for('pcr_details') }}?id={{pcr.id}}" class="btn btn-primary">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
