{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">Password Change Request Details</h3>

<div class="col-8 offset-2">
    <div>
        <span><strong>Status:</strong></span>
        <span class="text-success"><strong>Complete</strong></span>
    </div>
    <div class="float-right">
        <span><strong>Completion Time:</strong></span>
        <span>2018-05-30 04:07:33</span>
    </div>
    <div>
        <span><strong>Submission Time:</strong></span>
        <span>2018-05-30 04:05:43</span>
    </div>
</div>

<div class="col-8 offset-2 mt-2">
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <th class="col-4">Username</th>
        <th class="col-4">New Password</th>
    </thead>
    <tbody>
        <tr>
            <td>username1</td>
            <td>password1</td>
        </tr>
        <tr>
            <td>username2</td>
            <td>password2</td>
        </tr>
    </tbody>
<table>
</div>

<div class="border rounded">
    <div class="float-right col-6 mt-1">
        <span class=""><strong><u>Admin Comments</u></strong></span>
        <p class="">This is an example of a comment which might have been left by the admin user, telling the team user what about their request required them to deny the request.</p>
    </div>
    
    <div class="col-6 mt-1">
        <span class=""><strong><u>Team Comments</u></strong></span>
        <p class="">This is an example of a comment which might have been left by the team user, jusifying their requesting another password change request for the same user within a certain time period.blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
    </div>
</div>

{% endblock %}
