{% extends 'base.html' %}
{% block pcr %}active{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th>Submission Time</th>
        <th>Completion Time</th>
        <th>Domain/Service</th>
        <th>Status</th>
        <th>
            <a href="{{ url_for('new_pcr') }}" class="btn btn-success">
                New Request
            </a>
        </th>
    </thead>
    <tbody>
        {% for pcr in pcrs %}
        <tr>
            <td>{{ pcr.submitted }}</td>
            <td>
            {% if pcr.completed is none %}
                -
            {% else %}
                {{ pcr.completed }}
            {% endif %}
            </td>
            <td>
            {% if pcr.service_id is none %}
                {{ domains[pcr.domain_id] }}
            {% else %}
                {% set s = services[pcr.service_id] %}
                Host: {{ s.host }}, Port: {{ s.port }}
            {% endif %}
            </td>
            {% if pcr.status == 0 %}
            <td class="text-success"><strong>Complete</strong></td>
            {% elif pcr.status == 1 %}
            <td class="text-primary"><strong>Pending</strong></td>
            {% elif pcr.status == 2 %}
            <td class="text-warning"><strong>Awaiting Approval</strong></td>
            {% elif pcr.status == 3 %}
            <td class="text-danger"><strong>Denied</strong></td>
            {% endif %}
            <td>
                <form method="post" action="{{ url_for('pcr') }}" id="delete-{{pcr.id}}">
                <a href="{{ url_for('pcr_details') }}?id={{pcr.id}}" class="btn btn-primary">
                    View
                </a>
                {% if not current_user.is_admin and pcr.status != 0 %}
                    <input type="hidden" id="reqId" name="reqId" value="{{pcr.id}}"/>
                    <button type="submit" form="delete-{{pcr.id}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
