{% extends 'base.html' %}
{% block rtr %}active{% endblock %}
{% block head %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block content %}

<br/>
{% if system_id == 'None' %}
<h1>Red Team Reports</h1>
{% else %}
<h1>Red Team Reports: {{ system_id }}</h1>
{% endif %}
<br/>

<script>
    function clickDelete(id) {
        idInput = document.getElementById('reqId');
        idInput.value = id;
        $('#confirmModal').modal('show');
    }
</script>

<table class="table">
    <thead>
        <th>Team Number</th>
        <th>Submission Time</th>
        <th>Completion Time</th>
        <th>System</th>
        <th>Penalty</th>
        <th>Status</th>
        {% if current_user.is_redteam %}        
	    <th>
            <a href="{{ url_for('rtr') }}" class="btn btn-success">
                New Request
            </a>
        </th>
        {% else %}
        <th>View Report</th>
        {% endif %}
    </thead>
    <tbody>
        {% for rtr in rtrs %}
        <tr>
            <td>{{ rtr.team_num[0][0] }}</td>
            <td>{{ rtr.submitted }}</td>
            <td>
            {% if rtr.completed is none %}
                -
            {% else %}
                {{ rtr.completed }}
            {% endif %}
            </td>
            <td>
            {{ rtr.system_id }}
            </td>
            <td>
            {{ rtr.point_penalty }}
            </td>
            {% if rtr.status == 0 %}
            <td class="text-success"><strong>Complete</strong></td>
            {% elif rtr.status == 1 %}
            <td class="text-primary"><strong>Pending</strong></td>
            {% elif rtr.status == 2 %}
            <td class="text-warning"><strong>Awaiting Approval</strong></td>
            {% elif rtr.status == 3 %}
            <td class="text-danger"><strong>Denied</strong></td>
            {% endif %}
            <td>
                <a href="{{ url_for('rtr_details') }}?id={{rtr.id}}" class="btn btn-primary">
                    View
                </a>
                {% if rtr.status == 1 and current_user.is_redteam %}
                    <button class="btn btn-danger" onclick='clickDelete({{rtr.id}})'>
                        <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this red team report?
      </div>
      <div class="modal-footer">
        <form method="post" action="{{ url_for('rtr_overview') }}" id="delete-rtr">
            <input type="hidden" id="reqId" name="reqId" value="0"/>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
