{% extends 'base.html' %}

{% block scores %}active{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/Chart.bundle-2.7.2.min.js"></script>
<script src="/static/js/score.js"></script>

<select id="st-select" class="col-3 form-control" style="margin-top: 20px; margin-left:12.5%;" onchange="graph_dataset(this.value)">
    <option value="0" selected>All Teams</option>
    {% for id,team in teams.items() %}
        <option value="{{id}}">{{team}}</option>
    {% endfor %}
</select>
<div style="width:75%;margin: auto">
    <canvas id="canvas"></canvas>
</div>

<div class="container">
    <h2 style="text-align:center">Service Uptime</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th></th>
                {% for team in teams.values() %}
                <th>{{ team }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for check_id in checks.keys() %}
            <tr>
                <td>{{ checks[check_id] }}</td>
                {% for team_id in teams.keys() %}
                    <td id="uptime-{{team_id}}-{{check_id}}">-</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                {% for team_id in teams.keys() %}
                    <td id="uptime-{{team_id}}">-</td>
                {% endfor %}
            </tr>
    </table>
</div>

<div class="container">
    <h2 style="text-align:center">System Reverts</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th></th>
                {% for team in teams.values() %}
                <th>{{ team }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for system in systems %}
            <tr>
                <td>{{ system }}</td>
                {% for team_id in teams.keys() %}
                    <td id="revert-{{ team_id }}-{{ system }}">
                        {{ reverts[team_id][system] }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td>Total Penalty</td>
                {% for team_id in teams.keys() %}
                    <td id="revert-{{team_id}}">
                        {{ reverts[team_id]['total'] }}
                    </td>
                {% endfor %}
            </tr>
    </table>
</div>


<div class="container" style="margin-top: 20px;">
    <h2 style="text-align:center">Scores</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th></th>
                {% for team in teams.values() %}
                <th>{{ team }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Score</td>
                {% for team_id in teams.keys() %}
                <td id="score-{{team_id}}">-</td>
                {% endfor %}
            </tr>
    </table>
</div>

<table class="table" hidden="true">
    <tbody>
        {% for team_id in results.keys() %}
        {% set team_results = results[team_id] %}
        <tr>
            {% for check_id in team_results.keys() %}
            {% set check_results = team_results[check_id] %}
            <td id="res-{{team_id}}-{{check_id}}">
                {{check_results}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
window.onload = function() {
    {% set team_ids = results.keys()|list %}
    var tids = {{team_ids}};
    var cids = {{results[team_ids[0]].keys()|list}};
    var teams = {{ teams|safe }};
    var checks = {{ checks|safe }};
    window.data = load_data(tids, cids, teams, checks);

    var ctx = document.getElementById('canvas').getContext('2d');
    window.scoreChart = new Chart(ctx, config);
    graph_dataset(document.getElementById('st-select').value);
    calc_uptime(tids, cids);
    calc_scores(tids);
}
</script>
{% endblock %}
