{% extends 'base.html' %}
{% block sla %}active{% endblock %}

{% block content %}
<br/>

<style>
h2 {
    text-align: center;
}

table.table {
    width:40%;
    margin:auto;
}
</style>

<h2>SLA Totals</h2>

<table class="table table-striped table-bordered" id="revert-table">
    <thead class="thead-dark">
        <th>Service</th>
        <th>Total SLAs</th>
    </thead>
    <tbody>
        {% set ts = totals[current_user.team.id] %}
        {% for cid,total in ts.items() %}
        <tr>
            <td>{{ checks[cid].name }}</td>
            <td>{{ total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>{{ ts.values()|sum }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
