{% extends 'base.html' %}

{% block status %}active{% endblock %}

{% block head %}<meta http-equiv="refresh" content="5">{% endblock %}

{% block content %}
<table class="table">
<thead>
<tr>
<th></th>
{% for t in teams %}
<th class='clickable' data-href='/credentials?tid={{ t.id }}'>{{ t.name }}</th>
{% endfor %}
</tr>
</thead>

<tbody>
{% for c in checks %}
<tr>
    <td>{{ c.name }}</td>
    {% for t in teams %}
        {% if c.id in results[t.id] %}
            {% if results[t.id][c.id].result is equalto 1 %}
                <td class='pass clickable' data-href='/result_log?tid={{ t.id }}&cid={{ c.id }}'>
                    Pass
                </td>
            {% else %}
                <td class='fail clickable' data-href='/result_log?tid={{ t.id }}&cid={{ c.id }}'>
                    Fail
                </td>
            {% endif %}
        {% else %}
            <td>Pending</td>
        {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
