{% extends 'base.html' %}

{% block status %}active{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/status.css"/>
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}

<table class="table table-bordered">
<thead class="thead-dark">
<th></th>
{% for s in systems if s.name != 'pfSense' %}
    <th colspan="{{ s.checks|length }}">
        {{ s.name }}
    </th>
{% endfor %}
</thead>
<tbody>
{% if current_user.is_authenticated and current_user.name == 'admin' %}
    {% set click = 'clickable' %}
{% else %}
    {% set click = '' %}
{% endif %}

{% for t in teams %}
    <tr>
        <td rowspan="2" class="team-name {{ click }}" data-href='/credentials?tid={{ t.id }}'>
            <img class="team{{ t.id }}" src="static/imgs/circle.png"/>
            {{ t.name }}
        </td>
        {% for s in systems %}
            {% if s.name != 'pfSense' %}
            <td colspan="{{ s.checks|length }}" class="persistence">
                {% for p in teams %}
                    {% if s.persistence[t.id][p.id] %}
                    <img class="team{{ p.id }}" src="static/imgs/redskull.png"/>
                    {% else %}
                    <img src="static/imgs/nothing.png"/>
                    {% endif %}
                {% endfor %}
            </td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
    {% for s in systems %}
    {% for c in s.checks %} {% if c.id in results[t.id] %}
            {% set r = results[t.id][c.id] %}
            {% if r.result is equalto 1 %}
                {% set state = 'pass' %}
            {% else %}
                {% set state = 'fail' %}
            {% endif %}
        {% else %}
            {% set state = 'pending' %}
        {% endif %}
        <td class="check-name {{ state }} {{ click }}" data-href="/result_log?tid={{ t.id }}&cid={{ c.id }}">
            <span>{{ c.name|service_short }}</span>
        </td>
    {% endfor %}
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
<span style="float:right">Last check completed at: {{ last_time }}</span>

{% endblock %}
