{% extends 'base.html' %}

{% block status %}active{% endblock %}

{% block head %}<meta http-equiv="refresh" content="5">{% endblock %}

{% block content %}
<table class="table">
<thead>
<tr>
<th></th>
{% for t in teams %}
<th {% if current_user.is_authenticated and current_user.name == 'admin' %}class='clickable'{% endif %} data-href='/credentials?tid={{ t.id }}'>{{ t.name }}</th>
{% endfor %}
</tr>
</thead>

<tbody>
{% for c in checks %}
<tr>
    <td>{{ c.name }}</td>
    {% for t in teams %}
        {% if c.id in results[t.id] %}
            {% set r = results[t.id][c.id] %}
            {% if r.result is equalto 1 %}
                <td class='pass {% if current_user.is_authenticated and current_user.name == 'admin' %}clickable{% endif %}' style="padding:0px;" data-href='/result_log?tid={{ t.id }}&cid={{ c.id }}'>
                        <span>Pass</span>
                        <span style="font-size:10px; position:relative; top:13px; left:-5%;">{{ r.time }}</span>
                </td>
            {% else %}
                <td class='fail {% if current_user.is_authenticated and current_user.name == 'admin' %}clickable{% endif %}' data-href='/result_log?tid={{ t.id }}&cid={{ c.id }}'>
                        <span>Fail</span>
                        <span style="font-size:10px; position:relative; top:13px; left:-5%;">{{ r.time }}</span>
                </td>
            {% endif %}
        {% else %}
            <td>Pending</td>
        {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
