[Unit]
Description=Rsync service
After=network.target

[Service]
WorkingDirectory=/opt/scoring/scoring/
ExecStart=/usr/bin/rsync -v --daemon --no-detach --config /opt/scoring/scoring/etc/rsyncd.conf
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rsync

[Install]
WantedBy=multi-user.target
