[Unit]
Description=Scoring Engine uWSGi service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=INSTALL_DIR
ExecStart=/usr/local/bin/uwsgi --ini INSTALL_DIR/etc/uwsgi.ini
ExecStop=/usr/local/bin/uwsgi --stop INSTALL_DIR/etc/uwsgi.pid
ExecReload=/usr/local/bin/uwsgi --reload INSTALL_DIR/etc/uwsgi.pid
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scoring

[Install]
WantedBy=multi-user.target
