[Unit]
Description=Scoring Engine service
After=network.target

[Service]
WorkingDirectory=INSTALL_DIR/
ExecStart=/usr/bin/python3 -u INSTALL_DIR/engine_manager.py start
ExecStop=/usr/bin/python3 -u INSTALL_DIR/engine_manager.py stop
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scoring

[Install]
WantedBy=multi-user.target
