[Unit]
Description=Scoring Engine service
After=network.target

[Service]
WorkingDirectory=/opt/scoring/scoring/
ExecStart=/usr/bin/python3 -u /opt/scoring/scoring/start_engine.py
ExecStop=/usr/bin/python3 -u /opt/scoring/scoring/stop_engine.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scoring

[Install]
WantedBy=multi-user.target
