{% extends 'base.html' %}

{% block content %}
<h1>Bulk Password Change</h1>

{% if success %}
<div class="alert alert-success">
    <strong>Success!</strong>
</div>
{% endif %}
{% for key,value in form.errors.items() %}
    <p>{{ key }}:{{ value }}
{% endfor %}

<form method="post" action="{{ url_for('bulk') }}">
    {{ form.csrf_token }}
    {% if current_user.is_admin %}
    <div class="form-group">
        {{ form.team.label }}
        {{ form.team(class_="form-control") }}
    </div>
    {% endif %}
    <div class="form-group">
        {{ form.ctype.label }}
        {{ form.ctype(class_="form-control", onchange="credtype_change()") }}
    </div>
    <div class="form-group" id="domain-form">
        {{ form.domain.label }}
        {{ form.domain(class_="form-control") }}
    </div>
    <div class="form-group" id="service-form" hidden="">
        {{ form.service.label }}
        {{ form.service(class_="form-control", disabled="") }}
    </div>
    <div class="form-group">
        {{ form.pwchange.label }}
        {{ form.pwchange(rows=15, placeholder="user:password", class_="form-control") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>

<script type="text/javascript">
    function credtype_change() {
        var toHide = document.getElementById('service-form');
        var toShow = document.getElementById('domain-form');

        var type = document.getElementById('ctype').value;
        if (type == 'Local') {
            var tmp = toHide;
            toHide = toShow;
            toShow = tmp;
        }
        toHide.hidden = true;
        toShow.hidden = false;

        toHide.getElementsByTagName('select')[0].disabled = true;
        toShow.getElementsByTagName('select')[0].disabled = false;
    }
    credtype_change();
</script>

{% endblock %}
