{% extends 'base.html' %}

{% block content %}
<h1>Bulk Password Change</h1>

{% if error == "Success" %}
<div class="alert alert-success">
    <strong>{{ error }}</strong>
</div>
{% elif error != "" %}
<div class="alert alert-danger">
    <strong>{{ error }}</strong>
</div>
{% endif %}

<form method="post" action="{{ url_for('bulk') }}">
<div class="form-group">
    <label for="team">Team</label>
    <select class="form-control" name="team" id="team">
    {% for t in teams %}
        <option value={{ t.id }}>{{ t.name }}: {{ t.subnet }}</option>
    {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="type">Credential Type</label>
    <select class="form-control" name="type" id="type" onchange="credtype_change()">
        <option value="Local">Local</option>
        <option value="Domain">Domain</option>
    </select>
</div>

<div class="form-group" id="domain-form" hidden="">
    <label for="domain">Domain</label>
    <select class="form-control" name="domain" id="domain" disabled="">
    {% for d in domains %}
        <option value={{ d.id }}>{{ d.fqdn }}</option>
    {% endfor %}
    </select>
</div>

<div class="form-group" id="service-form">
    <label for="service">Service</label>
    <select class="form-control" name="service" id="service">
    {% for s in services %}
        <option value={{ s.id }}>Host: {{ s.host }}, Port: {{ s.port }}</option>
    {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="pwchange">Password Changes</label>
    <textarea class="form-control" rows="15" placeholder="user:password" name="pwchange" id="pwchange"></textarea>
</div>

<input type="submit" class="btn btn-primary" value="Submit"/>
</form>

<script type="text/javascript">
    function credtype_change() {
        var toHide = document.getElementById('service-form');
        var toShow = document.getElementById('domain-form');

        var type = document.getElementById('type').value;
        if (type == 'Local') {
            var tmp = toHide;
            toHide = toShow;
            toShow = tmp;
        }
        toHide.hidden = true;
        toShow.hidden = false;

        toHide.getElementsByTagName('select')[0].disabled = true;
        toShow.getElementsByTagName('select')[0].disabled = false;
    }
</script>

{% endblock %}
