{% extends 'base.html' %}

{% block scores %}active{% endblock %}

{% block head %}<meta http-equiv="refresh" content="5">{% endblock %}

{% block content %}
<h1>Service Scores</h1>

<table class="table">
<thead>
<tr>
<th>Team</th>
<th>Raw Score</th>
<th>SLA Violations</th>
<th>Total Score</th>
</tr>
</thead>

<tbody>
{% for t in teams %}
<tr>
    <td>{{ t.name }}</td>
    <td>{{ scores[t.id]['raw_score'] }}</td>
    <td>{{ scores[t.id]['slas'] }}</td>
    <td>{{ scores[t.id]['score'] }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
